#header_nav{
    width: 45%;
    position: relative;
    right: 7%;
}

#header_nav a{
    color: #fff;
}　
#header_nav a:hover{
    color: hsla(0, 0%, 100%, 0.363);
}

.header{
    display: flex;
    width: 100%;
}

.logo{
    width: 35%;
    padding-left: 30px;
}

.tel{
    width: 20%;
    margin: 15px 20px 0 0;
}



/* タブレット向けレイアウト */
@media (max-width: 1000px) {
    #header_nav{
        width: 75%;
        right: 10%;
    }
    .logo{
        width: 25%;
    }
    .img_1, .img_3{
        display: none;
    }
    .tel{
        display: none;
        width: 0;
    }
}

/* スマホ向けレイアウト */
@media (max-width: 670px) {
    #header_nav{
        width: 100%;
        right: 0;
        margin-bottom: 15px;
    }
    .logo{
        display: none;
    }
    .tel{
        display: none;
    }
}